.container {
    display: grid;
    grid-template-rows: 50px 1fr 30px;
    height: 100vh;
}

.tradingPageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid black;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    border-top: 1px solid black;
}

.main {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.panel {
    min-height: 100px;
    border: 1px solid black;
}

.content {
    border: 1px solid black;
}

/* settings modal */
.settingsBackdropStyles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.settingsStyles {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 800px;
    height:500px;
    text-align: center;
}


/* Responsive Design */
@media (max-width: 1024px) {
    .main {
        grid-template-columns: 200px 1fr 200px;
    }
}

@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
    }
    .sidebar {
        display: none;
    }
}
